**/.DS_Store
api/node_modules/
/api/public/
api/config/config.json
api/package-lock.json
react-front/package-lock.json
react-front/node_modules
api/public/
api/logs/
react-front/coverage

react-front/build

react-front/.DS_Store
react-front/.env.local
react-front/.env.development.local
react-front/.env.test.local
react-front/.env.production.local

react-front/npm-debug.log*
react-front/yarn-debug.log*
react-front/yarn-error.log*

app-ios/MusicRoom/MusicRoom.xcodeproj/project.xcworkspace/xcuserdata/
app-ios/MusicRoom/MusicRoom.xcworkspace
app-ios/MusicRoom/Pods
app-ios/MusicRoom/Podfile.lock